<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451347108911-tthqu0ntd6u0rpga3qbcb8ltn84b3jf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451347108911-tthqu0ntd6u0rpga3qbcb8ltn84b3jf0</string>
	<key>API_KEY</key>
	<string>AIzaSyAAxIc2xJVDmbtNdVJPI_UMXi9GshYiUKU</string>
	<key>GCM_SENDER_ID</key>
	<string>451347108911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duongdlt.ConceptubeTest</string>
	<key>PROJECT_ID</key>
	<string>conceptubetest</string>
	<key>STORAGE_BUCKET</key>
	<string>conceptubetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:451347108911:ios:31c5d077db28dcb6d0e2da</string>
	<key>DATABASE_URL</key>
	<string>https://conceptubetest-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
